*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background:  #F1EBEB;;
}
.error-card{
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
}
.topic-choose-title{
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  display: inline-block;
  position: relative;
  /* top: 50%;   */
  left: 50%;
  border-bottom: 4px solid #50885D;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translate(-50%, 0);
  /* width: 20%; */
  
}
.service-logo{
  /* opacity: 0.9; */
  margin: 0;
  padding: 0;
  display: block;
  /* background: #fff; */
  border-radius: 5px;
  overflow: hidden;
  /* position: relative; */
  position: absolute;
  left: 10px;
  top: 20px;
}
.sv-light,
.sv-of,
.sv-day{
  margin: 0;
  display: inline-block;
  padding: 5px 12px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1%;
  line-height: 1.6;
  
  /* color: rgb(235, 212, 4); */
}
.sv-light{
  background: #FFE600;
  color: black;
  /* padding:0 5px; */
}
.sv-of{
  background: #ffffff;
  color: black;
  /* padding:0 5px; */
}
.sv-day{
  background: #000;
  color: #fff;
  /* padding:0 5px; */
  
}
.header,.container-fluid{
  width: 90%;
  margin: auto;
  padding: 0;
  display: block;
  /* background: #000; */
}
/* .container-fluid{
  background: rgb(0, 26, 255);
} */
.header{
  padding: 20px 10px;
  position: relative;
  /* display: flex; */
  /* background: #000; */
  
  /* width: 100%; */
  /* justify-content: center; */
}
.container-fluid{
  margin-bottom: 80px;
}
.topic-section{
  display: block;
  margin: auto;
  padding: 0;
  /* background: rgb(72, 0, 255); */
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}
.topic-card{
  background-color: #fff;
  /* width: 30%; */
  padding: 0;
  margin: 20px 10px 0px 10px;
  /* margin-top: 20px; */
  /* max-width: 30%; */
  position: relative;
  display: inline-block;
  /* border: 1px solid rgb(0, 0, 0); */

}
.topic-title{
  background: #CFDFCD;
  border-radius: 0px 0px 10px 0px;
  display: inline-block;
  padding: 5px 20px;
  /* margin: 0; */
  /* font-size: 24px; */
  font-weight: bold;
}
.topic-description{
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  padding: 10px 20px 10px 30px;
  overflow: hidden;
  max-height: 20vh;
  min-height: 20vh;
  /* background: #000; */
}
.topic-link{
  text-decoration: none;
  font-size: 12px;
  background: #50885D;
  /* display: inline-block; */
  padding: 10px 30px;
  float: right;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
}
.topic-link a:visited,a:link{
   color: #FFFFFF;
}
.choose-topic{
  position: relative;
  margin: 20px 10px;
}
.send-topic{
  background: #50885D;
  border-radius: 5px;
  /* display: inline-block; */
  padding: 10px 30px;
  float: right;
  color: #FFFFFF;
  font-weight: bold;
  
}
.clear{
  clear: both;
}
.company-logo{
  width: 40px;
  vertical-align: middle;
}
.company{
  display: inline-block;
}
.footer{
  z-index: 100;
  position: fixed;
  background: #fff;
  font-size: 10px;
  padding: 10px 20px;
  text-align: right;
  width: 100%;
  bottom: 0;
}

.view-pic img{
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.view-pic{
  /* width: 100%; */
  height: 100vh;
  overflow: hidden;
}
.poa-header{
  position: absolute;
  left: 5%;
  top: 20px;
  opacity: .9;
}
.quote-card{
  position: absolute;
  left: 5%;
  top: 15%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
}
.quote-title{
  font-size: 24px;
}
/* .quote-author{

} */

.poa-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.transparent{
  background: transparent;
}
.view-info-card{
  position: absolute;
  bottom: 20%;
  left: 5%;
  background: rgb(255, 255, 255);
  padding:10px 10px 0px 10px;
  border-radius: 10px;
  letter-spacing: 1%;
  line-height: 1.6;
  opacity: .9;
  overflow: hidden;
}
.view-url{
  text-align: right;
  background-color: #A1B79E;
  margin-top: 5px;
  margin-right: -10px;
  margin-left: -10px;
  padding:5px 10px;
  position: relative;
  right: 0;
}
.col,.row,.row-cols-sm-1,.row-cols-md-2,.row-cols-lg-3{
  padding: 0;
  margin: 0;
  /* background: #000; */
  
}

input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
}
input[type="radio"]:checked{
    border: 4px solid #A1B79E;
    /* transform: scale(1.05); */
}
input[type="submit"]{
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    height: 100%;
}
.favorite-lists{
  margin-top: 10px;
  margin-bottom: 80px;
  width: 90%;
}
.left-pic{
  overflow: hidden;
  min-height: 10vh;
  max-height: 30vh;
  padding: 0;
  /* background: #000; */
}
.right-inspiration{
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  /* background: rgb(255, 0, 0); */
  padding: 3% 5%;
  position: relative;
}
.left-pic img{
  /* display: block; */
  padding: 0;
  margin: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.favorite-item{
  
  background: #fff;
}
.favorite-item-quote{
  font-weight:bold;
  font-size: 1.2rem;
  line-height:2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.favorite-inspiration-author{
  /* margin-top: 20px; */
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;

}
.favorite-item-creater{
  background: #000000;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: .6rem;
  line-height: 1.2rem;
  letter-spacing: .1rem;
  color: #FFFFFF;
  padding: 5px 10px;
  font-weight: bold;

}
.favorite-item-creater-link a{
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 32px;
  letter-spacing: .1rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bolder;
  border: 2px solid #000000;
}
.favorite-item.row{
  padding: 0;
  margin: 20px 0;
  /* background: rgb(0, 13, 255); */
}
.menu{
  float: right;
}
.menuitem{
  display: inline-block;
  background: #FFFFFF;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-left: 30px;
  letter-spacing: 1%;
  line-height: 1.6;
  transition: .5s;
}
.menuitem.active{
  transition: .5s;
  border-bottom: 2px solid #000000;
}
.menuitem a{
  color: #000;
  font-weight: 600;
  text-decoration: none !important;
  transition: .5s;
}
.menuitem:hover a{
  color: #fff;
}
.menuitem:hover{
  background: #000;
}
.menuitem.active:hover{
  border-bottom: 4px solid #FFE600;
}

.favorite{
  position: relative;
  border: #000 2px solid;
  display: inline-block;
  margin:0 10px ;
  transition: .8s;
  padding: 4px 4px;
}
.favorite span{
  padding: 0 2px;
  font-weight: bold;
  font-size: .8rem;
  vertical-align: middle;
}
.favorite input[type="submit"]{
    position: absolute;
    color: transparent;
    width: 100%;
    height: 100%;
    border: unset;
    left: 0;
    top: 0;
    /* background: #000; */
}
.favorite img{
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.favorite input[type="submit"]:active{
  background-color: rgba(250, 189, 189, 0.3);
}
.favorite input[type="submit"]:hover{
  background-color: rgba(250, 189, 189, 0.3);

}
.favorite input[type="radio"]{
    display: none;
}

@media (max-width: 768px) {
  .favorite-item-quote{
  white-space: unset;
  text-overflow: unset;
}
  .header .service-logo{
    position: relative;
    display: block;
    left: unset;
    right: unset;

  }
  .header .menu{
    display: flex;
    display: block;
    float: none;
    margin-top: 40px;
  }
  .header .menuitem{
   margin: 0 10px 0 0px;
  }
}
