@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background:  #F1EBEB;;
}
.error-card{
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
}
.topic-choose-title{
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  /* top: 50%;   */
  left: 50%;
  border-bottom: 4px solid #50885D;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translate(-50%, 0);
  /* width: 20%; */
  
}
.dropdown-item:invalid,.dropdown-item,.dropdown-item:visited , .btn.dropdown-toggle {
  background: #FFFFFF;
  color:  #50885D;
  font-weight: bold;
}
.dropdown-item:hover{
   background:  #50885D;
   color:  #F1EBEB;;
}
.service-logo{
  /* opacity: 0.9; */
  margin: 0;
  padding: 0;
  display: block;
  /* background: #fff; */
  border-radius: 5px;
  overflow: hidden;
  /* position: relative; */
  position: absolute;
  left: 10px;
  top: 20px;
}
.sv-light,
.sv-of,
.sv-day{
  margin: 0;
  display: inline-block;
  padding: 5px 12px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1%;
  line-height: 1.6;
}
.sv-light{
  background: #FFE600;
  color: black;
  /* padding:0 5px; */
}
.sv-of{
  background: #ffffff;
  color: black;
  /* padding:0 5px; */
}
.sv-day{
  background: #000;
  color: #fff;
  /* padding:0 5px; */
  
}
.header,.container-fluid{
  width: 90%;
  margin: auto;
  padding: 0;
  display: block;
  /* background: #000; */
}
.header{
  padding: 20px 10px;
  position: relative;
}
.container-fluid{
  margin-bottom: 80px;
}
.topic-section{
  display: block;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.topic-card{
  background-color: #fff;
  /* width: 30%; */
  padding: 0;
  margin: 20px 10px 0px 10px;
  /* margin-top: 20px; */
  /* max-width: 30%; */
  position: relative;
  display: inline-block;
  /* border: 1px solid rgb(0, 0, 0); */

}
.topic-title{
  background: #CFDFCD;
  border-radius: 0px 0px 10px 0px;
  display: inline-block;
  padding: 5px 20px;
  /* margin: 0; */
  /* font-size: 24px; */
  font-weight: bold;
}
.topic-description{
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  /* padding: 10px 20px 10px 20px; */
  padding: 10px 20px 10px 20px;
  overflow: hidden;
  max-height: 16vh;
  min-height: 16vh;
  /* background: #000; */
}
.topic-link{
  text-decoration: none;
  font-size: 12px;
  background: #50885D;
  /* display: inline-block; */
  padding: 10px 30px;
  float: right;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
}
.topic-link a:visited,a:link{
   color: #FFFFFF;
}
.choose-topic{
  position: relative;
  margin: 20px 10px;
}
.send-topic{
  background: #50885D;
  border-radius: 5px;
  /* display: inline-block; */
  padding: 10px 30px;
  float: right;
  color: #FFFFFF;
  font-weight: bold;
  
}
.clear{
  clear: both;
}
.company-logo{
  width: 40px;
  vertical-align: middle;
}
.company{
  display: inline-block;
}
.footer{
  z-index: 100;
  position: fixed;
  background: #fff;
  font-size: 10px;
  padding: 10px 20px;
  text-align: right;
  width: 100%;
  bottom: 0;
}

.view-pic img{
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.view-pic{
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
  height: 100%;
}
.poa-header{
  position: absolute;
  left: 5%;
  top: 20px;
  opacity: .9;
}
.quote-card{
  position: absolute;
  left: 5%;
  top: 15%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
}
.quote-title{
  font-size: 1.6rem;
}
.quote-author{
  font-size: 1rem;
}

.poa-footer{
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
}
.transparent{
  background: transparent;
}
.view-info-card{
  position: absolute;
  bottom: 15%;
  left: 5%;
  background: rgb(255, 255, 255);
  padding:10px 10px 0px 10px;
  border-radius: 10px;
  letter-spacing: 1%;
  line-height: 1.6;
  opacity: .9;
  overflow: hidden;
}
.view-url{
  text-align: right;
  background-color: #A1B79E;
  margin-top: 5px;
  margin-right: -10px;
  margin-left: -10px;
  padding:5px 10px;
  position: relative;
  right: 0;
}
.col,.row,.row-cols-sm-1,.row-cols-md-2,.row-cols-lg-3{
  padding: 0;
  margin: 0;
  /* background: #000; */
  
}
/* .dropdown{
  margin-top: 20px;
  margin-bottom: 20px;
  background: #000;
  display:inline;
  position: relative;
} */
img.d-block{
  width: 100%;
  max-height: 20vh;
  min-height: 20vh;
  object-fit: cover;
}

.topic-card input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    border-radius: 0%;
    outline: none;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 10;
}
.topic-card input[type="radio"]:checked{
    border: 5px solid #A1B79E;
    /* transform: scale(1.05); */
}
.topic-card-info{
  position: relative;
  padding: 0 0 20px 0;
}
input[type="submit"]{
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    height: 100%;
}
/* .carousel{
  z-index: 20;
} */
.favorite-lists{
  margin-top: 10px;
  margin-bottom: 80px;
  width: 90%;
}
.favorite-item.row.grey::before{
  content: '';
  position: absolute;
  background: rgba(64, 59, 80, 0.695);
  left: 0;
  right: 0;
  width: 100%;
  height:100%;
  z-index: 10;
}
 .favorite-item.row.grey .favorite-inspiration-author{
  margin-bottom:15px ;
 }
.favorite-item.row.grey  .favorite-item-creater{
  margin-bottom: 40px;
 }
/* .favorite-item.row.grey{
  padding: 0px 0px 30px 0;
} */
.left-pic{
  overflow: hidden;
  min-height: 10vh;
  max-height: 30vh;
  padding: 0;
  /* background: #000; */
}
.right-inspiration{
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  /* background: rgb(255, 0, 0); */
  padding: 3% 5%;
  position: relative;
}
.left-pic img{
  /* display: block; */
  padding: 0;
  margin: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.favorite-item{
  position: relative;
  background: #fff;
}
.favorite-item-quote{
  font-weight:bold;
  font-size: 1.2rem;
  line-height:2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.favorite-inspiration-author{
  /* margin-top: 20px; */
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;

}
.favorite-item-creater{
  background: #000000;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: .6rem;
  line-height: 1.2rem;
  letter-spacing: .1rem;
  color: #FFFFFF;
  padding: 5px 10px;
  font-weight: bold;

}
.favorite-item-creater-link a{
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 32px;
  letter-spacing: .1rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bolder;
  border: 2px solid #000000;
  z-index: 101;
}
/* add by hsuan*/
.favorite-item-delete{
  
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 4px;
  letter-spacing: .1rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bolder;
  
}
.favorite-item.row{
  padding: 0;
  margin: 20px 0;
  /* background: rgb(0, 13, 255); */
}
.menu{
  float: right;
}
.menuitem{
  display: inline-block;
  background: #FFFFFF;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-left: 30px;
  letter-spacing: 1%;
  line-height: 1.6;
  transition: .5s;
}
.menuitem.active{
  transition: .5s;
  border-bottom: 2px solid #000000;
}
.menuitem a{
  color: #000;
  font-weight: 600;
  text-decoration: none !important;
  transition: .5s;
}
.menuitem:hover a{
  color: #fff;
}
.menuitem:hover{
  background: #000;
}
.menuitem.active:hover{
  border-bottom: 4px solid #FFE600;
}

.favorite{
  position: relative;
  border: #000 2px solid;
  display: inline-block;
  margin:0 10px ;
  transition: .8s;
  padding: 4px 4px;
}
.favorite span{
  padding: 0 2px;
  font-weight: bold;
  font-size: .8rem;
  vertical-align: middle;
}
.favorite input[type="submit"]{
    position: absolute;
    color: transparent;
    width: 100%;
    height: 100%;
    border: unset;
    left: 0;
    top: 0;
    /* background: #000; */
}
.favorite i{
  font-size: 20px;
  color: rgb(240, 101, 101);
  vertical-align: middle;
}
.favorite:hover{
  border-color: rgb(91, 11, 11);
}
.favorite input[type="submit"]:active{
  background-color: rgba(250, 189, 189, 0.3);
}
.favorite input[type="submit"]:hover{
  background-color: rgba(250, 189, 189, 0.3);

}
.favorite input[type="radio"]{
    display: none;
}
.dropdown {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  /* display: inline; */
  /* background: #000; */
  display: block;
  width: 100%;
  height: 10px;
  position: relative;
}
.dropdown .btn{
  right: 0;
  top: 0;
  position: absolute;
}
.btn btn-secondary dropdown-toggle{
  --bs-btn-padding-y: .25rem; 
  --bs-btn-padding-x: .5rem; 
  --bs-btn-font-size: .75rem;
}
.icon-pos {
  padding: 10px 5px 0px 5px;
}
.topic-pos-text {
  color:rgb(100, 100, 100);
  font-size: 0.6rem;
  margin-right: 10px;
  line-height: 22px;
}
.topic-card-info .btn
{
  z-index: 20;
  position: relative;
  padding: 2px 6px;
  background: #50885D;
  color: #fff;
  margin: 0px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconset{

  /* background: rgb(38, 0, 255); */
  display: flex;

  padding: 5px 20px 0 20px;
}
.iconset svg{
  width: 16px;
  vertical-align: middle;
}
.topic-alert{
  z-index: 100;
  width: 80%;
  position: absolute;
  top: 1%;
  left: 10%;
  text-align: center;
  background: rgba(250, 189, 189, 0.761);
}
.add-successfully-alert{
  z-index: 100;
  width: 80%;
  position: absolute;
  top: 1%;
  left: 10%;
  text-align: center;
  background: #cfdfcdf1;
}








.pomodoro{
  padding: 25px 20px;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  display: inline-block;
  width: 40%;
  max-width: 360px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  /* opacity: 0.95; */
  background: hsla(0,0%,100%,.8);
  /* overflow: hidden; */
}


.clock-display{
  display: flex;
  justify-content: center;
}
.pomodoro .add-minus-menu{
 display: flex;
 justify-content: center;
 align-items: center;
}
.pomodoro .clock,.pomodoro .work-period,.pomodoro .rest-period{
  display: block;
}

.pomodoro .clock-time,.pomodoro .work-period-time,.pomodoro .rest-period-time{
  display: block;
  text-align: center;
  letter-spacing: 2%;
  font-family: 'Sawarabi Gothic', sans-serif;
  /* background: rgb(255, 255, 255); */
}

.pomodoro .work-period-time,.pomodoro .rest-period-time{
  font-size: 2rem;
}
.pomodoro .clock-time{
  font-size: 4rem;
  color: rgb(42, 42, 42);
  line-height: 1.4;
  /* background: #000; */
  /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5); */
}
.pomodoro .clock-title,.pomodoro .work-period-title, .pomodoro .rest-period-title{
  display: block;
  text-align: left;
  margin:auto;
  font-size: 1.25rem;
  margin-bottom: 5px;
  padding-bottom: 2px;
  /* border-bottom: 5px solid #ffd500; */
  /* background: rgb(255, 255, 255); */
  padding: 0 10px;
  line-height: 1.6;
  letter-spacing: 2%;
  color: rgb(73, 73, 73);
  border-radius: 4px;
  font-family: 'Sawarabi Gothic', sans-serif;
}
.pomodoro .period{
  display: flex;
  justify-content: space-around;
}
.pomodoro-play-control{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pomodoro .add-minus-menu .decrease,
.pomodoro .add-minus-menu .increase,
.pomodoro .btn-controller{
  font-family: 'Sawarabi Gothic', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  margin: 0 6px;
  background: rgb(255, 254, 250);
  /* box-shadow: inset 0.2rem 0.2rem 0.5rem  #c8d0e7, inset -0.2rem -0.2rem 0.5rem #FFFFFF; */
  /* background: rgb(255, 255, 255); */
}

.pomodoro .btn-controller{
  width: 50px;
  height: 50px;
}
.fa-solid{
  color: #223226;
  font-size: 1.6rem;
}
.pomodoro-play-control .fas,.pomodoro-play-control .fa-regular{
  padding: 10px;
  font-size: 2rem;
  color: #223226;
  vertical-align: middle;

}
.pomodoro .add-minus-menu .decrease:hover,
.pomodoro .add-minus-menu .increase:hover,
.pomodoro .btn-controller:hover{
  box-shadow: 0 .5px 1.5px rgba(0,0,0,0.3), 0 0.5px 1px rgba(0,0,0,0.4);
}



.work-active{
  background-color: rgb(155, 220, 157);
}
.rest-active{
  background-color: rgb(232, 195, 195);
}

@media (max-width: 768px) {
    *{
    font-size: 14px;
  }
  .favorite-item-quote{
  white-space: unset;
  text-overflow: unset;
}
  .header .service-logo{
    position: relative;
    display: block;
    left: unset;
    right: unset;

  }
  .header .menu{
    display: flex;
    display: block;
    float: none;
    margin-top: 50px;
  }
  .header .menuitem{
   margin: 0 10px 10px 0px;
  }
  .pomodoro{
    width: 70%;
  }
}



@media (max-width: 384px){
  *{
    font-size: 12px;
  }
  .iconset{
    display: flex;
    flex-direction: column;
  }
  .topic-pos-text{
    text-align: center;
  }
  .pomodoro{
    width: 90%;
  }

}

.hidden{
  display: none;
}

/* @media (max-width: 768px) {
  .favorite-item-quote{
  white-space: unset;
  text-overflow: unset;
}
  .header .service-logo{
    position: relative;
    display: block;
    left: unset;
    right: unset;

  }
  .header .menu{
    display: flex;
    display: block;
    float: none;
    margin-top: 40px;
  }
  .header .menuitem{
   margin: 0 10px 0 0px;
  }
  .pomodoro{
    width: 70%;
  }
} */
/* @media (max-width: 384px)and(min-width: 768px){

}  */

.focus-set{
  background: rgb(255, 255, 255);
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.focus-card{
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  margin: 16px 0;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  /* border: 1px solid rgba(0,0,0,0.2); */
}
.focus-card:nth-child(1){
  /* background: rgba(117, 117, 117, 0.2); */
  background: #CFDFCD;
}
.focus-date{
  padding: 12px 20px;
  background: rgb(0, 0, 0);
  width: 25%;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 900;
}

.focus-time{
  width: 35%;
  padding: 6px 5px;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rest-time{
  width: 35%;
  padding: 6px 5px;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.focus-card:nth-child(1) .focus-date{
  /* color: rgb(255, 255, 255); */
  font-size: 1.2rem;
  background: #d9e2d8;
  background: unset;
  color: #000;
  
}
/* .focus-card:nth-child(1) .focus-time{
  color: rgb(255, 255, 255);
}
.focus-card:nth-child(1) .rest-time{
  color: rgb(255, 255, 255);
} */
