---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/WPXxp36tkHQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"695a5073d1a466e400bd2af34b642d1e"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"id\":\"WPXxp36tkHQ\",\"created_at\":\"2021-04-08T23:38:37Z\",\"updated_at\":\"2022-10-20T05:20:17Z\",\"promoted_at\":\"2021-04-13T08:05:21Z\",\"width\":4021,\"height\":2262,\"color\":\"#0c2626\",\"blur_hash\":\"LX9a?V8^%Lo}?wDixukDxtM|t7WB\",\"description\":null,\"alt_description\":\"white
        and black shark in water\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNDc4MzQ\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNDc4MzQ\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNDc4MzQ\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNDc4MzQ\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNDc4MzQ\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1617925109341-2b99305cdee2\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/WPXxp36tkHQ\",\"html\":\"https://unsplash.com/photos/WPXxp36tkHQ\",\"download\":\"https://unsplash.com/photos/WPXxp36tkHQ/download?ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNDc4MzQ\",\"download_location\":\"https://api.unsplash.com/photos/WPXxp36tkHQ/download?ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNDc4MzQ\"},\"likes\":475,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{\"wallpapers\":{\"status\":\"approved\",\"approved_on\":\"2022-10-12T13:22:50Z\"}},\"user\":{\"id\":\"cITC_0iXsy4\",\"updated_at\":\"2022-10-20T03:08:36Z\",\"username\":\"gabrieldizzi\",\"name\":\"Gabriel
        Dizzi\",\"first_name\":\"Gabriel\",\"last_name\":\"Dizzi\",\"twitter_username\":\"GabrielDizzi_bb\",\"portfolio_url\":\"https://www.instagram.com/ogabrieldizzi/\",\"bio\":\"Hello,
        my name is Gabriel Vinicius and I'm a Brazilian photographer. I'm eighteen
        years old and for more images of my work you can see it on my instagram @ogabrieldizzi\\r\\nDonate
        to PayPal email gabrielbarrosvida@gmail.com help me supporting my work\",\"location\":\"Brasil\",\"links\":{\"self\":\"https://api.unsplash.com/users/gabrieldizzi\",\"html\":\"https://unsplash.com/@gabrieldizzi\",\"photos\":\"https://api.unsplash.com/users/gabrieldizzi/photos\",\"likes\":\"https://api.unsplash.com/users/gabrieldizzi/likes\",\"portfolio\":\"https://api.unsplash.com/users/gabrieldizzi/portfolio\",\"following\":\"https://api.unsplash.com/users/gabrieldizzi/following\",\"followers\":\"https://api.unsplash.com/users/gabrieldizzi/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1649848634149-2787772c4ae8?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1649848634149-2787772c4ae8?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1649848634149-2787772c4ae8?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"ogabrieldizzi\",\"total_collections\":6,\"total_likes\":613,\"total_photos\":122,\"accepted_tos\":true,\"for_hire\":true,\"social\":{\"instagram_username\":\"ogabrieldizzi\",\"portfolio_url\":\"https://www.instagram.com/ogabrieldizzi/\",\"twitter_username\":\"GabrielDizzi_bb\",\"paypal_email\":null}},\"exif\":{\"make\":null,\"model\":null,\"name\":null,\"exposure_time\":null,\"aperture\":null,\"focal_length\":null,\"iso\":null},\"location\":{\"name\":null,\"city\":null,\"country\":null,\"position\":{\"latitude\":null,\"longitude\":null}},\"meta\":{\"index\":true},\"public_domain\":false,\"tags\":[],\"tags_preview\":[],\"views\":1138007,\"downloads\":25672,\"topics\":[{\"id\":\"bo8jQKTaE0Y\",\"title\":\"Wallpapers\",\"slug\":\"wallpapers\",\"visibility\":\"featured\"}],\"related_collections\":{\"total\":3,\"type\":\"related\",\"results\":[{\"id\":\"2168693\",\"title\":\"001\",\"description\":null,\"published_at\":\"2018-05-29T11:02:58Z\",\"last_collected_at\":\"2022-10-17T03:01:28Z\",\"updated_at\":\"2022-10-17T03:01:28Z\",\"curated\":false,\"featured\":false,\"total_photos\":2319,\"private\":false,\"share_key\":\"769558fb424631f8c65bc249a5123c6d\",\"tags\":[{\"type\":\"search\",\"title\":\"001\"},{\"type\":\"landing_page\",\"title\":\"grey\",\"source\":{\"ancestry\":{\"type\":{\"slug\":\"wallpapers\",\"pretty_slug\":\"HD
        Wallpapers\"},\"category\":{\"slug\":\"colors\",\"pretty_slug\":\"Color\"},\"subcategory\":{\"slug\":\"grey\",\"pretty_slug\":\"Grey\"}},\"title\":\"Hd
        grey wallpapers\",\"subtitle\":\"Download free grey wallpapers\",\"description\":\"Choose
        from a curated selection of grey wallpapers for your mobile and desktop screens.
        Always free on Unsplash.\",\"meta_title\":\"Grey Wallpapers: Free HD Download
        [500+ HQ] | Unsplash\",\"meta_description\":\"Choose from hundreds of free
        grey wallpapers. Download HD wallpapers for free on Unsplash.\",\"cover_photo\":{\"id\":\"ctXf1GVyf9A\",\"created_at\":\"2018-09-10T08:05:55Z\",\"updated_at\":\"2022-10-02T18:04:38Z\",\"promoted_at\":null,\"width\":5304,\"height\":7952,\"color\":\"#a6a6a6\",\"blur_hash\":\"L3IYFNIU00~q-;M{R*t80KtRIUM{\",\"description\":\"Old
        stone background texture\",\"alt_description\":null,\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1536566482680-fca31930a0bd?ixlib=rb-1.2.1\",\"full\":\"https://images.unsplash.com/photo-1536566482680-fca31930a0bd?ixlib=rb-1.2.1\\u0026q=[...]
- request:
    method: get
    uri: https://api.unsplash.com/topics/wallpapers
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"b0cb6be550f12f953f0d46c1053868d8"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: "{\"id\":\"bo8jQKTaE0Y\",\"slug\":\"wallpapers\",\"title\":\"Wallpapers\",\"description\":\"From
        epic drone shots to inspiring moments in nature — submit your best desktop
        and mobile backgrounds.\\r\\n\\r\\n\",\"published_at\":\"2020-04-17T02:31:04Z\",\"updated_at\":\"2022-10-20T00:32:54Z\",\"starts_at\":\"2020-04-15T00:00:00Z\",\"ends_at\":null,\"only_submissions_after\":null,\"visibility\":\"featured\",\"featured\":true,\"total_photos\":10934,\"current_user_contributions\":[],\"total_current_user_submissions\":null,\"links\":{\"self\":\"https://api.unsplash.com/topics/wallpapers\",\"html\":\"https://unsplash.com/t/wallpapers\",\"photos\":\"https://api.unsplash.com/topics/wallpapers/photos\"},\"status\":\"open\",\"owners\":[{\"id\":\"QV5S1rtoUJ0\",\"updated_at\":\"2022-10-19T17:35:20Z\",\"username\":\"unsplash\",\"name\":\"Unsplash\",\"first_name\":\"Unsplash\",\"last_name\":null,\"twitter_username\":\"unsplash\",\"portfolio_url\":\"https://unsplash.com\",\"bio\":\"Behind
        the scenes of the team building the internet’s open library of freely useable
        visuals.\",\"location\":\"Montreal, Canada\",\"links\":{\"self\":\"https://api.unsplash.com/users/unsplash\",\"html\":\"https://unsplash.com/@unsplash\"[...]
- request:
    method: get
    uri: https://api.unsplash.com/topics/anyCATEGORY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Topic"]}'
  recorded_at: Thu, 20 Oct 2022 06:42:12 GMT
- request:
    method: get
    uri: https://api.unsplash.com/photos/anyID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID BAD_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Thu, 20 Oct 2022 06:42:12 GMT
- request:
    method: get
    uri: https://api.unsplash.com/photos/anyID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Photo"]}'
  recorded_at: Thu, 20 Oct 2022 06:42:13 GMT
recorded_with: VCR 6.1.0
