---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/anyID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Photo"]}'
  recorded_at: Thu, 20 Oct 2022 02:33:30 GMT
- request:
    method: get
    uri: https://api.unsplash.com/photos/WPXxp36tkHQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"ade4f34d9d206d387e8922d5d4727c42"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"id\":\"WPXxp36tkHQ\",\"created_at\":\"2021-04-08T23:38:37Z\",\"updated_at\":\"2022-10-19T05:19:40Z\",\"promoted_at\":\"2021-04-13T08:05:21Z\",\"width\":4021,\"height\":2262,\"color\":\"#0c2626\",\"blur_hash\":\"LX9a?V8^%Lo}?wDixukDxtM|t7WB\",\"description\":null,\"alt_description\":\"white
        and black shark in water\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyMjk1NTM\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyMjk1NTM\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyMjk1NTM\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyMjk1NTM\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1617925109341-2b99305cdee2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyMjk1NTM\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1617925109341-2b99305cdee2\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/WPXxp36tkHQ\",\"html\":\"https://unsplash.com/photos/WPXxp36tkHQ\",\"download\":\"https://unsplash.com/photos/WPXxp36tkHQ/download?ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyMjk1NTM\",\"download_location\":\"https://api.unsplash.com/photos/WPXxp36tkHQ/download?ixid=MnwzNzE2OTd8MHwxfGFsbHx8fHx8fHx8fDE2NjYyMjk1NTM\"},\"likes\":475,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{\"wallpapers\":{\"status\":\"approved\",\"approved_on\":\"2022-10-12T13:22:50Z\"}},\"user\":{\"id\":\"cITC_0iXsy4\",\"updated_at\":\"2022-10-18T02:24:44Z\",\"username\":\"gabrieldizzi\",\"name\":\"Gabriel
        Dizzi\",\"first_name\":\"Gabriel\",\"last_name\":\"Dizzi\",\"twitter_username\":\"GabrielDizzi_bb\",\"portfolio_url\":\"https://www.instagram.com/ogabrieldizzi/\",\"bio\":\"Hello,
        my name is Gabriel Vinicius and I'm a Brazilian photographer. I'm eighteen
        years old and for more images of my work you can see it on my instagram @ogabrieldizzi\\r\\nDonate
        to PayPal email gabrielbarrosvida@gmail.com help me supporting my work\",\"location\":\"Brasil\",\"links\":{\"self\":\"https://api.unsplash.com/users/gabrieldizzi\",\"html\":\"https://unsplash.com/@gabrieldizzi\",\"photos\":\"https://api.unsplash.com/users/gabrieldizzi/photos\",\"likes\":\"https://api.unsplash.com/users/gabrieldizzi/likes\",\"portfolio\":\"https://api.unsplash.com/users/gabrieldizzi/portfolio\",\"following\":\"https://api.unsplash.com/users/gabrieldizzi/following\",\"followers\":\"https://api.unsplash.com/users/gabrieldizzi/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1649848634149-2787772c4ae8?ixlib=rb-1.2.1\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1649848634149-2787772c4ae8?ixlib=rb-1.2.1\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1649848634149-2787772c4ae8?ixlib=rb-1.2.1\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"ogabrieldizzi\",\"total_collections\":6,\"total_likes\":613,\"total_photos\":122,\"accepted_tos\":true,\"for_hire\":true,\"social\":{\"instagram_username\":\"ogabrieldizzi\",\"portfolio_url\":\"https://www.instagram.com/ogabrieldizzi/\",\"twitter_username\":\"GabrielDizzi_bb\",\"paypal_email\":null}},\"exif\":{\"make\":null,\"model\":null,\"name\":null,\"exposure_time\":null,\"aperture\":null,\"focal_length\":null,\"iso\":null},\"location\":{\"name\":null,\"city\":null,\"country\":null,\"position\":{\"latitude\":null,\"longitude\":null}},\"meta\":{\"index\":true},\"public_domain\":false,\"tags\":[],\"tags_preview\":[],\"views\":1137205,\"downloads\":25518,\"topics\":[{\"id\":\"bo8jQKTaE0Y\",\"title\":\"Wallpapers\",\"slug\":\"wallpapers\",\"visibility\":\"featured\"}],\"related_collections\":{\"total\":3,\"type\":\"related\",\"results\":[{\"id\":\"RJEiSvRCzb8\",\"title\":\"whale\",\"description\":null,\"published_at\":\"2022-04-07T09:50:25Z\",\"last_collected_at\":\"2022-04-07T09:51:24Z\",\"updated_at\":\"2022-04-07T09:51:24Z\",\"curated\":false,\"featured\":false,\"total_photos\":2,\"private\":false,\"share_key\":\"5d4ac9f3a8b2ddedb30ad6384540f574\",\"tags\":[{\"type\":\"landing_page\",\"title\":\"whale\",\"source\":{\"ancestry\":{\"type\":{\"slug\":\"images\",\"pretty_slug\":\"Images\"},\"category\":{\"slug\":\"animals\",\"pretty_slug\":\"Animals\"},\"subcategory\":{\"slug\":\"whale\",\"pretty_slug\":\"Whale\"}},\"title\":\"Whale
        pictures \\u0026 images\",\"subtitle\":\"Download free whale images\",\"description\":\"The
        whale is the largest mammal on earth, and it takes a big camera to capture
        whales in all their majesty. Luckily, Unsplash's community of professional
        photographers have got you covered, and now you can access a massive catalogue
        of whales pictures, totally free!\",\"meta_title\":\"100+ Whale Pictures |
        Download Free Images on Unsplash\",\"meta_description\":\"Choose from hundreds
        of free whale pictures. Download HD whale photos for free on Unsplash.\",\"cover_photo\":{\"id\":\"lwACYK8ScmA\",\"created_at\":\"2019-09-14T03:08:00Z\",\"updated_at\":\"2022-10-17T22:10:26Z\",\"promoted_at\":null,\"width\":3008,\"height\":2000,\"color\":\"#8ca6c0\",\"blur_hash\":\"LIE4P~58pJxZ_NV?RPo}x^xan3NG\",\"description\":null,\"alt_description\":\"blue
        whale on sea\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1568430462989-44163eb1752f?ixlib=rb-1.2.1\",\"full\":\"https://images.unsplash.com/photo-1568430462989-44163eb1752f?ixlib=rb-1.2.1\\u0026q=80\\u0026cs[...]
[...]
- request:
    method: get
    uri: https://api.unsplash.com/topics/anyCATEGORY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Topic"]}'
  recorded_at: Thu, 20 Oct 2022 02:33:31 GMT
- request:
    method: get
    uri: https://api.unsplash.com/topics/wallpapers
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"681a05dcc2029e35510d459ce10d0e9e"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: "{\"id\":\"bo8jQKTaE0Y\",\"slug\":\"wallpapers\",\"title\":\"Wallpapers\",\"description\":\"From
        epic drone shots to inspiring moments in nature — submit your best desktop
        and mobile backgrounds.\\r\\n\\r\\n\",\"published_at\":\"2020-04-17T02:31:04Z\",\"updated_at\":\"2022-10-20T00:32:54Z\",\"starts_at\":\"2020-04-15T00:00:00Z\",\"ends_at\":null,\"only_submissions_after\":null,\"visibility\":\"featured\",\"featured\":true,\"total_photos\":10934,\"current_user_contributions\":[],\"total_current_user_submissions\":null,\"links\":{\"self\":\"https://api.unsplash.com/topics/wallpapers\",\"html\":\"https://unsplash.com/t/wallpapers\",\"photos\":\"https://api.unsplash.com/topics/wallpapers/photos\"},\"status\":\"open\",\"owners\":[{\"id\":\"QV5S1rtoUJ0\",\"updated_at\":\"2022-10-19T17:35:20Z\",\"username\":\"unsplash\",\"name\":\"Unsplash\",\"first_name\":\"Unsplash\",\"last_name\":null,\"twitter_username\":\"unsplash\",\"portfolio_url\":\"https://unsplash.com\",\"bio\":\"Behind
        the scenes of the team building the internet’s open library of freely useable
        visuals.\",\"location\":\"Montreal, Canada\",\"links\":{\"self\":\"https://api.unsplash.com/users/unsplash\",\"html\":\"https://unsplash.com/@unsplash\"[...]
