---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/topics/?per_page=30
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      X-Total:
      - '11'
      X-Per-Page:
      - '30'
      Content-Language:
      - en
      Etag:
      - W/"56496967edc6b609614277501bf08c72"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "[{\"id\":\"qPYsDzvJOYc\",\"slug\":\"experimental\",\"title\":\"Experimental\",\"description\":\"Photography
        has the ability to challenge perspectives and reimagine how we portray the
        world around us. This category explores unlikely textures, new formats and
        intriguing subject matter to push creativity forward.\\r\\n\",\"published_at\":\"2020-04-06T14:20:23Z\",\"updated_at\":\"2022-11-18T20:27:30Z\",\"starts_at\":\"2020-04-15T00:00:00Z\",\"ends_at\":null,\"only_submissions_after\":\"2021-10-31T12:00:00Z\",\"visibility\":\"featured\",\"featured\":true,\"total_photos\":6973,\"current_user_contributions\":[],\"total_current_user_submissions\":null,\"links\":{\"self\":\"https://api.unsplash.com/topics/experimental\",\"html\":\"https://unsplash.com/t/experimental\",\"photos\":\"https://api.unsplash.com/topics/experimental/photos\"},\"status\":\"open\",\"owners\":[{\"id\":\"QV5S1rtoUJ0\",\"updated_at\":\"2022-11-18T23:14:31Z\",\"username\":\"unsplash\",\"name\":\"Unsplash\",\"first_name\":\"Unsplash\",\"last_name\":null,\"twitter_username\":\"unsplash\",\"portfolio_url\":\"https://unsplash.com\",\"bio\":\"Behind
        the scenes of the team building the internet’s open library of freely useable
        visuals.\",\"location\":\"Montreal, Canada\",\"links\":{\"self\":\"https://api.unsplash.com/users/unsplash\",\"html\":\"https://unsplash.com/@unsplash\",\"photos\":\"https://api.unsplash.com/users/unsplash/photos\",\"likes\":\"https://api.unsplash.com/users/unsplash/likes\",\"portfolio\":\"https://api.unsplash.com/users/unsplash/portfolio\",\"following\":\"https://api.unsplash.com/users/unsplash/following\",\"followers\":\"https://api.unsplash.com/users/unsplash/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1544707963613-16baf868f301?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1544707963613-16baf868f301?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1544707963613-16baf868f301?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"unsplash\",\"total_collections\":8,\"total_likes\":16073,\"total_photos\":29,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":\"unsplash\",\"portfolio_url\":\"https://unsplash.com\",\"twitter_username\":\"unsplash\",\"paypal_email\":null}}],\"cover_photo\":{\"id\":\"wzXhFeOYWI8\",\"created_at\":\"2022-10-05T09:25:08Z\",\"updated_at\":\"2022-11-19T20:37:39Z\",\"promoted_at\":null,\"width\":3937,\"height\":5917,\"color\":\"#d9d9d9\",\"blur_hash\":\"LrKBRF9F~q%MM{IUM{oft7RjIUt7\",\"description\":null,\"alt_description\":null,\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1664961903143-69acb4086fef?ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1664961903143-69acb4086fef?ixlib=rb-4.0.3\\u0026q=80\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026crop=entropy\",\"regular\":\"https://images.unsplash.com/photo-1664961903143-69acb4086fef?ixlib=rb-4.0.3\\u0026w=1080\\u0026fit=max\\u0026q=80\\u0026fm=jpg\\u0026crop=entropy\\u0026cs=tinysrgb\",\"small\":\"https://images.unsplash.com/photo-1664961903143-69acb4086fef?ixlib=rb-4.0.3\\u0026w=400\\u0026fit=max\\u0026q=80\\u0026fm=jpg\\u0026crop=entropy\\u0026cs=tinysrgb\",\"thumb\":\"https://images.unsplash.com/photo-1664961903143-69acb4086fef?ixlib=rb-4.0.3\\u0026w=200\\u0026fit=max\\u0026q=80\\u0026fm=jpg\\u0026crop=entropy\\u0026cs=tinysrgb\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1664961903143-69acb4086fef\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/wzXhFeOYWI8\",\"html\":\"https://unsplash.com/photos/wzXhFeOYWI8\",\"download\":\"https://unsplash.com/photos/wzXhFeOYWI8/download\",\"download_location\":\"https://api.unsplash.com/photos/wzXhFeOYWI8/download\"},\"likes\":66,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{\"fashion-beauty\":{\"status\":\"rejected\"},\"people\":{\"status\":\"approved\",\"approved_on\":\"2022-10-17T17:53:59Z\"},\"experimental\":{\"status\":\"approved\",\"approved_on\":\"2022-11-16T20:02:39Z\"}},\"user\":{\"id\":\"wPUQ-U5VMyM\",\"updated_at\":\"2022-11-20T10:43:14Z\",\"username\":\"atkachenko\",\"name\":\"Anton
        Tkachenko\",\"first_name\":\"Anton\",\"last_name\":\"Tkachenko\",\"twitter_username\":null,\"portfolio_url\":null,\"bio\":null,\"location\":\"Ukraine\",\"links\":{\"self\":\"https://api.unsplash.com/users/atkachenko\",\"html\":\"https://unsplash.com/@atkachenko\",\"photos\":\"https://api.unsplash.com/users/atkachenko/photos\",\"likes\":\"https://api.unsplash.com/users/atkachenko/likes\",\"portfolio\":\"https://api.unsplash.com/users/atkachenko/portfolio\",\"following\":\"https://api.unsplash.com/users/atkachenko/following\",\"followers\":\"https://api.unsplash.com/users/atkachenko/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1650918594010-3961e637664eimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1650918594010-3961e637664eimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1650918594010-3961e637664eimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"antony_tkachenko\",\"total_collections\":10,\"total_likes\":26,\"total_photos\":55,\"accepted_tos\":true,\"for_hire\":true,\"social\":{\"instagram_username\":\"antony_tkachenko\",\"portfolio_url\":null,\"twitter_username\":null,\"paypal_email\":null}}},\"preview_photos\":[{\"id\":\"wzXhFeOYWI8\",\"created_at\":\"2022-10-05T09:25:08Z\",\"updated_at\":\"2022-11-19T20:37:39Z\",\"blur_hash\":\"LrKBRF9F~q%MM{IUM{oft7RjIUt7\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1664961903143-69acb4086fef?ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1664961903143-69acb4086fef?ixlib=rb-4.0.3\\u0026q=80\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026crop=entropy\",\"regular\":\"https://images.unsplash.com/photo-1664961903143-69acb4086fef?ixlib=rb-4.0.3\\u0026w=10[...]
[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?orientation=landscape&topics=xjPR4hlkBGA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"ee9a134b4b428089a70da74a7ab02f44"
      X-Ratelimit-Lim[...]
- request:
    method: get
    uri: https://favqs.com/api/qotd
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - " "
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '29'
      Etag:
      - W/"c33482ec45909a17ab9f837cee10839a"
      X-Backend-Server:
      - ip-10-0-1-10
    body:
      encoding: UTF-8
      string: '{"qotd_date":"2022-11-21T00:00:00.000+00:00","quote":{"id":62591,"dialogue":false,"private":false,"tags":[],"url":"https://favqs.com/quotes/joseph-fawzy/62591","favorites_count":1,"upvotes_count":0,"downvotes_count":0,"author":"Joseph
        Fawzy","author_permalink":"joseph-fawzy","body":"الوقت كالسيف إن لم تقطعه
        قطعك"}}'
  recorded_at: Sun, 20 Nov 2022 12:32:35 GMT
recorded_with: VCR 6.1.0
