---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/-PcrXRjoP-A
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID BAD_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Thu, 20 Oct 2022 10:58:57 GMT
- request:
    method: get
    uri: https://api.unsplash.com/photos/-PcrXRjoP-A
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"d228c21e294e343c6cc9e5f8662e8337"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"id\":\"-PcrXRjoP-A\",\"created_at\":\"2022-10-19T17:22:06Z\",\"updated_at\":\"2022-10-20T08:08:02Z\",\"promoted_at\":\"2022-10-20T08:08:02Z\",\"width\":4002,\"height\":6000,\"color\":\"#59738c\",\"blur_hash\":\"LDDTFb_29Y%K0@E2s.M}t*$~=}xs\",\"description\":null,\"alt_description\":null,\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1666200029556-38f03c887b7b?ixid=MnwzNzE4NTl8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNjI2MDU\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1666200029556-38f03c887b7b?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzNzE4NTl8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNjI2MDU\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1666200029556-38f03c887b7b?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE4NTl8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNjI2MDU\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1666200029556-38f03c887b7b?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE4NTl8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNjI2MDU\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1666200029556-38f03c887b7b?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzE4NTl8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNjI2MDU\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1666200029556-38f03c887b7b\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/-PcrXRjoP-A\",\"html\":\"https://unsplash.com/photos/-PcrXRjoP-A\",\"download\":\"https://unsplash.com/photos/-PcrXRjoP-A/download?ixid=MnwzNzE4NTl8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNjI2MDU\",\"download_location\":\"https://api.unsplash.com/photos/-PcrXRjoP-A/download?ixid=MnwzNzE4NTl8MHwxfGFsbHx8fHx8fHx8fDE2NjYyNjI2MDU\"},\"likes\":11,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{\"wallpapers\":{\"status\":\"unevaluated\"},\"travel\":{\"status\":\"unevaluated\"}},\"user\":{\"id\":\"jSefUFdqxDI\",\"updated_at\":\"2022-10-20T09:24:18Z\",\"username\":\"danielsessler\",\"name\":\"Daniel
        Seßler\",\"first_name\":\"Daniel\",\"last_name\":\"Seßler\",\"twitter_username\":null,\"portfolio_url\":null,\"bio\":\"Thank
        you for visting my profile!\\r\\nIf you want to support me creating more photos
        for Unsplash you can help me with a small donation. But a thank you is enough
        as well \U0001F60A\",\"location\":\"Munich\",\"links\":{\"self\":\"https://api.unsplash.com/users/danielsessler\",\"html\":\"https://unsplash.com/@danielsessler\",\"photos\":\"https://api.unsplash.com/users/danielsessler/photos\",\"likes\":\"https://api.unsplash.com/users/danielsessler/likes\",\"portfolio\":\"https://api.unsplash.com/users/danielsessler/portfolio\",\"following\":\"https://api.unsplash.com/users/danielsessler/following\",\"followers\":\"https://api.unsplash.com/users/danielsessler/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1634653553021-5ee00c501272image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1634653553021-5ee00c501272image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1634653553021-5ee00c501272image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"daniel.sessler\",\"total_collections\":11,\"total_likes\":892,\"total_photos\":443,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":\"daniel.sessler\",\"portfolio_url\":null,\"twitter_username\":null,\"paypal_email\":null}},\"exif\":{\"make\":null,\"model\":null,\"name\":null,\"exposure_time\":null,\"aperture\":null,\"focal_length\":null,\"iso\":null},\"location\":{\"name\":\"Hallstatt,
        Austria\",\"city\":\"Hallstatt\",\"country\":\"Austria\",\"position\":{\"latitude\":47.562234,\"longitude\":13.649262}},\"meta\":{\"index\":true},\"public_domain\":false,\"tags\":[{\"type\":\"search\",\"title\":\"austria\"},{\"type\":\"search\",\"title\":\"hallstatt\"}],\"tags_preview\":[{\"type\":\"search\",\"title\":\"austria\"},{\"type\":\"search\",\"title\":\"hallstatt\"}],\"views\":12325,\"downloads\":157,\"topics\":[],\"related_collections\":{\"total\":3,\"type\":\"related\",\"results\":[{\"id\":\"949135\",\"title\":\"Light
        of life\",\"description\":null,\"published_at\":\"2017-10-12T11:45:50Z\",\"last_collected_at\":\"2022-01-31T13:49:28Z\",\"updated_at\":\"2022-01-31T14:25:50Z\",\"curated\":false,\"featured\":true,\"total_photos\":146,\"private\":false,\"share_key\":\"bba1c091bc2d12f1f9124ac63d929de9\",\"tags\":[{\"type\":\"landing_page\",\"title\":\"light\",\"source\":{\"ancestry\":{\"type\":{\"slug\":\"backgrounds\",\"pretty_slug\":\"Backgrounds\"},\"category\":{\"slug\":\"colors\",\"pretty_slug\":\"Colors\"},\"subcategory\":{\"slug\":\"light\",\"pretty_slug\":\"Light\"}},\"title\":\"Light
        backgrounds\",\"subtitle\":\"Download free light background images\",\"description\":\"Unsplash
        has an amazing collection of light backgrounds, covering all different shades
        and styles. Our images are professionally-shot, and you can use any/all of
        them for free!\",\"meta_title\":\"900+ Light Background Images: Download HD
        Backgrounds on Unsplash\",\"meta_description\":\"Choose from hundreds of free
        light backgrounds. Download beautiful, curated free backgrounds on Unsplash.\",\"cover_photo\":{\"id\":\"2x19-mRQgX8\",\"created_at\":\"2016-12-19T11:23:39-05:00\",\"updated_at\":\"2022-07-04T02:00:59-04:00\",\"promoted_at\":\"2016-12-19T11:23:39-05:00\",\"width\":5760,\"height\":3840,\"color\":\"#26260c\",\"blur_hash\":\"LB8g4=R-0#WB=_WWNHWCE2ay={kC\",\"description\":null,\"alt_description\":\"person
        holding string lights\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1482164565953-04b62dcac1cd?ixlib=rb-1.2.1\",\"full\":\"https://images.unsplash.com/photo-1482164565953-0[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/anyID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Photo"]}'
  recorded_at: Thu, 20 Oct 2022 10:58:58 GMT
- request:
    method: get
    uri: https://api.unsplash.com/topics/wallpapers
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"ec3241d64f72dde5fba6c126ec4bfef7"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: "{\"id\":\"bo8jQKTaE0Y\",\"slug\":\"wallpapers\",\"title\":\"Wallpapers\",\"description\":\"From
        epic drone shots to inspiring moments in nature — submit your best desktop
        and mobile backgrounds.\\r\\n\\r\\n\",\"published_at\":\"2020-04-17T02:31:04Z\",\"updated_at\":\"2022-10-20T09:23:19Z\",\"starts_at\":\"2020-04-15T00:00:00Z\",\"ends_at\":null,\"only_submissions_after\":null,\"visibility\":\"featured\",\"featured\":true,\"total_photos\":10936,\"current_user_contributions\":[],\"total_current_user_submissions\":null,\"links\":{\"self\":\"https://api.unsplash.com/topics/wallpapers\",\"html\":\"https://unsplash.com/t/wallpapers\",\"photos\":\"https://api.unsplash.com/topics/wallpapers/photos\"},\"status\":\"open\",\"owners\":[{\"id\":\"QV5S1rtoUJ0\",\"updated_at\":\"2022-10-20T08:45:50Z\",\"username\":\"unsplash\",\"name\":\"Unsplash\",\"first_name\":\"Unsplash\",\"last_name\":null,\"twitter_username\":\"unsplash\",\"portfolio_url\":\"https://unsplash.com\",\"bio\":\"Behind
        the scenes of the team building the internet’s open library of freely useable
        visuals.\",\"location\":\"Montreal, Canada\",\"links\":{\"self\":\"https://api.unsplash.com/users/unsplash\",\"html\":\"https://unsplash.com/@unsplash\"[...]
- request:
    method: get
    uri: https://api.unsplash.com/topics/travel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLAH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"a63bde53f3d8cb34bf3a2185923040a9"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaini[...]
